body {
  background-color: aliceblue;
  font-family: Calibri, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}
input {
  display: block;
  margin: .25em 0 1em;
}
input[type=text]{
  width: 100%;
  padding: .25em;
  box-sizing: border-box;
}
